<div>
	<div class="row space-title">
		<img src="img/dolibarr.png" class="img-fluid col-lg-1 col-lg-offset-5">
	</div>
	<div class="row space">
		<div class="col-lg-5 col-lg-offset-3">
			Dolibarr ERP/CRM es un software completamente modular para gestión empresarial de PYMES, profesionales independientes, auto emprendedores ó asociaciones.
		</div>
	</div>
	<div class="row">
		<img src="img/dolibarr1.jpg" class="img-fluid col-lg-4 col-lg-offset-3">
	</div>
	<div class="row">
		<div class="row space-title">
			<a ng-href="http://proyectosntesis.on.dolicloud.com" target="_blank">
				<div  class="col-lg-offset-3">
					<div class="col-lg-8">
						<img src="img/dolibarr.png" class="img-fluid col-lg-1">
					</div>
				</div>
				<div class="col-lg-1 col-lg-pull-5 word-rss">
					Enlace al Dolibarr
				</div>
			</a>	
		</div>
	</div>
</div>