<div>
	<div class="row">
		<h2 class="col-lg-1 col-lg-offset-5"><b>DTD</b></h2>
	</div>
	<div class="row">
		<div class="col-lg-5 col-lg-offset-3">
			DTD es una descripción de estructura y sintaxis de un documento XML o SGML. Su función es la describir la estructura de datos, para usar una estructura común y mantener la consistencia entre todos los documentos que utilicen la misma DTD.
		</div>
	</div>
	<div class="row">
		<h4 class="col-lg-1 col-lg-offset-3"><b>DTD interno</b></h4>
		<img src="img/dtdint.jpg" class="img-fluid col-lg-2">
	</div>
	<div class="row">
		<h4 class="col-lg-1 col-lg-offset-3"><b>DTD externo</b></h4>
		<img src="img/dtdext.jpg" class="img-fluid col-lg-2">
		<img src="img/dtdext2.jpg" class="img-fluid col-lg-2">
	</div>
</div>