<div>
	<div class="row space-title">
		<img src="img/html.png" class="img-fluid col-lg-1 col-lg-offset-5">
	</div>
	<div class="row space">
		<div class="col-lg-5 col-lg-offset-3">
			HTML, sigla en inglés de HyperText Markup Language, hace referencia al lenguaje de marcado para la elaboración de páginas web.
		</div>
	</div>
	<div class="row">
		<img src="img/html1.jpg" class="img-fluid col-lg-5 col-lg-offset-3">
	</div>
	<div class="row">
		<img src="img/html2.jpg" class="img-fluid col-lg-5 col-lg-offset-3">
	</div>

</div>