<div>
	<div class="row space-title">
	  <h2 class="col-lg-4 col-lg-offset-5"><b>QUIENES SOMOS</b></h2>
	</div>  
	<div>
  <div class="row space">
    <div class="col-lg-5 col-lg-offset-3">
      Somos Dídac Pérez y Marcos Arango, somos alumnos de IFP.
      Estudiamos actualmente el doble Grado Superior de DAW y DAM. Esto es nuestro proyecto de síntesis de la asignatura Lenguaje de Marcas.
    </div>
	</div>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
     Las herramientas que hemos utilizado para hacer la web son:
    </div>
  </div>
  <div class="row space">
    <img src="img/angular.png" class="img-fluid col-lg-1 col-lg-offset-3">
    <img src="img/bootstrap.png" class="img-fluid col-lg-1">
    <img src="img/filezilla.png" class="img-fluid col-lg-1">
    <img src="img/github.png" class="img-fluid col-lg-1">
    <img src="img/jquery.png" class="img-fluid col-lg-1">
  </div>
  <div class="row">
    <img src="img/paint.jpg" class="img-fluid col-lg-1 col-lg-offset-3">
    <img src="img/photoshop.png" class="img-fluid col-lg-1">
    <img src="img/sublimetext.png" class="img-fluid col-lg-1">
    <img src="img/xmllogo.jpg" class="img-fluid col-lg-1">
  </div>
  <div class="row space-title">
    <h2 class="col-lg-4 col-lg-offset-5"><b>QUE HA HECHO QUIEN</b></h2>
  </div>  
  <div>
  <div class="row space">
    <div class="col-lg-5 col-lg-offset-3">
      <div class="col-lg-12 col-lg-offset-3">
        <div class="col-lg-12 col-lg-offset-1">
          Ambos hemos trabajado en todos y cada uno de los apartados.
        </div>
      </div>
    </div>
  </div>
</div>